{% extends 'layout.html.twig' %}

{% block pageTitle %}
    Short urls
{% endblock %}

{% block pageActions %}
    <a class="btn btn-primary" href="{{ path('app_short_url_add') }}">Add short url</a>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    Short urls <span class="badge bg-primary">{{ pagination.getTotalItemCount }}</span>
                </div>
                <table class="table table-vcenter table-hover table-striped card-table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Url</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shortUrl in pagination %}
                        <tr>
                            <td>
                                <a href="{{ path('app_short_url_edit', { shortUrl: shortUrl.id }) }}">
                                    {{ shortUrl.code }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ shortUrl.url }}" title="{{ shortUrl.url }}" target="_blank">
                                    {{ shortUrl.url|u.truncate(100, '...') }}
                                </a>
                            </td>
                            <td>{{ shortUrl.created|date }}</td>
                            <td class="text-end">
                                <div class="btn-group">
                                    {% if shortUrl.enabled != true %}
                                        <a href="{{ path('app_short_url_enable', { shortUrl: shortUrl.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.enable'|trans }}" class="btn btn-sm btn-danger"><span class="fas fa-circle fa-fw"></span></a>
                                    {% else %}
                                        <a href="{{ path('app_short_url_disable', { shortUrl: shortUrl.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.disable'|trans }}" class="btn btn-sm btn-success"><span class="fas fa-circle fa-fw"></span></a>
                                    {% endif %}
                                    <a href="{{ path('app_short_url_edit', { shortUrl: shortUrl.id }) }}" data-bs-toggle="tooltip" title="{{ 'action.edit'|trans }}" class="btn btn-sm btn-primary"><span class="fas fa-edit fa-fw"></span></a>
                                    <a href="{{ path('app_short_url_remove', { shortUrl: shortUrl.id }) }}" data-confirmation="Remove?" data-bs-toggle="tooltip" title="{{ 'action.remove'|trans }}" class="btn btn-sm bs-confirmation btn-danger"><span class="fas fa-trash fa-fw"></span></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer d-flex align-items-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
