{% extends 'layout.html.twig' %}

{% block pageTitle %}
    Short urls
{% endblock %}

{% block pageActions %}
    <a class="btn btn-primary" href="{{ path('app_short_url_add') }}">Add</a>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    Short urls <span class="badge bg-primary">{{ pagination.getTotalItemCount }}</span>
                </div>
                <table class="table table-vcenter table-hover table-striped card-table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Url</th>
                        <th>Title</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shortUrl in pagination %}
                        {% set shortedUrl = url('app_redirect', { code: shortUrl.code }) %}
                        <tr>
                            <td>
                                <a href="{{ path('app_short_url_edit', { shortUrl: shortUrl.id }) }}">
                                    {{ shortUrl.code }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ shortUrl.url }}" title="{{ shortUrl.url }}" target="_blank">
                                    {{ shortUrl.url|u.truncate(100, '...') }}
                                </a>
                            </td>
                            <td>{{ shortUrl.title }}</td>
                            <td>{{ shortUrl.created|date }}</td>
                            <td class="text-end">
                                <div class="btn-group">
                                    <span
                                            class="copy-to-clipboard btn btn-sm btn-secondary"
                                            title="Copy short URL to clipboard"
                                            data-clipboard-text="{{ shortedUrl }}"
                                            data-bs-toggle="tooltip"
                                    >
                                        <span class="iconify" data-icon="fa6-solid:clipboard"></span>
                                    </span>
                                    {% if shortUrl.enabled != true %}
                                        <a href="{{ path('app_short_url_enable', { shortUrl: shortUrl.id }) }}" data-bs-toggle="tooltip" title="Enable" class="btn btn-sm btn-danger"><span class="iconify" data-icon="fa6-solid:circle"></span></a>
                                    {% else %}
                                        <a href="{{ path('app_short_url_disable', { shortUrl: shortUrl.id }) }}" data-bs-toggle="tooltip" title="Disable" class="btn btn-sm btn-success"><span class="iconify" data-icon="fa6-solid:circle"></span></a>
                                    {% endif %}
                                    <a href="{{ path('app_short_url_edit', { shortUrl: shortUrl.id }) }}" data-bs-toggle="tooltip" title="Edit" class="btn btn-sm btn-primary"><span class="iconify" data-icon="fa6-solid:pencil"></span></a>
                                    <a href="{{ path('app_short_url_remove', { shortUrl: shortUrl.id }) }}" data-confirmation="Remove?" data-bs-toggle="tooltip" title="Remove" class="btn btn-sm bs-confirmation btn-danger"><span class="iconify" data-icon="fa6-solid:trash"></span></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="card-footer d-flex align-items-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
